{{define "navbar"}}
        <header class="navbar">
                <nav class="nav nav-masthead">
                    <a class="nav-link" href="/login">Home</a>
                    <a class="nav-link" href="/entries">Entries</a>
                    {{if .LoggedIn}}
                    <a class="nav-link right" href="/logout">Sign out</a>
                    {{end}}
                </nav>
        </header>
{{end}}
