{{define "navbar"}}
        <header class="navbar">
            {{/*<div class="inner">*/}}
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/login">Home</a>
                    <a class="nav-link" href="/entries">Entries</a>
                    <a class="nav-link right" href="/logout">Sign out</a>
                </nav>
            {{/*</div>*/}}
        </header>
{{end}}
